@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600');

/* ----------------------------------------------------------------------------------------
                                 1. NavBar-Search CSS
 --------------------------------------------------------------------------------------- */

.weather {
  color: #fff;
  padding-left: 20px;
  width: 10%;
}

.weather img {
  width: 4em;
}


header {
    padding-bottom: 17px;
    padding-top: 17px;
    background-color: #17263c;
    border-bottom: 1px solid #38414d;
}


 #pac-input {
        background-color: #242f3e;
        color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 6px 11px 6px 13px;
        width: 100%;
        border: 1px solid #14b4a8;
        
}


#logo img {
    width: 30px;
}



/* ----------------------------------------------------------------------------------------
                                 2. Map CSS
 --------------------------------------------------------------------------------------- */


      #map {
        height: 90%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 5px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }


      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      
      #target {
        width: 345px;
      }
      


/* ----------------------------------------------------------------------------------------
                                 3. Footer CSS
 --------------------------------------------------------------------------------------- */

.footer-wrap {
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #17263c;
    border-top: 1px solid #38414d;
}


.fab {
    color: #14b4a8;
}

.fab:hover {
   color: #38414d;
}

.social-icon {
    padding-right: 18px;
}



/* ----------------------------------------------------------------------------------------
                                 Media Queries
 --------------------------------------------------------------------------------------- */


@media screen and (max-width: 990px) {

#logo {
    padding-bottom: 13px;
    justify-content: center;
    margin: auto;
}

header {
    padding-bottom: 12px;
    padding-top: 13px;
}


.weather {
  display: none;
}


}




