@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600');


html, body {
        height: 100%;
        font-family: Roboto;
      }
      
/* ----------------------------------------------------------------------------------------
                                 1. NavBar-Search CSS
 --------------------------------------------------------------------------------------- */

header {
    padding-bottom: 17px;
    padding-top: 17px;
    background-color: #17263c;
    border-bottom: 1px solid #38414d;
}

#pac-input {
        background-color: #242f3e;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
        padding: 6px 0 6px 5px;
        width: 80%;
        border: 1px solid #14b4a8;
        
}

.weather {
  width: 10%;
}

#logo img {
    width: 2em;
}

.weather img {
  width: 5.2em;
}

.col-md-10 {
    display: inline;
    margin: 0;

}

 

/* ----------------------------------------------------------------------------------------
                                 2. Map CSS
 --------------------------------------------------------------------------------------- */

#map {
  height: 90%;
}
     
#description {
    font-family: Roboto;
    font-size: 5px;
    font-weight: 300;
}

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      
      #target {
        width: 345px;
      }
      

/* ----------------------------------------------------------------------------------------
                                 3. Footer CSS
 --------------------------------------------------------------------------------------- */

.footer-wrap {
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #17263c;
    border-top: 1px solid #38414d;
}


.fab {
    color: #14b4a8;
}

.fab:hover {
   color: #38414d;
}

.social-icon {
    padding-right: 18px;
}



/* ----------------------------------------------------------------------------------------
                                 Media Queries
 --------------------------------------------------------------------------------------- */


@media screen and (max-width: 777px) {

#logo {
    padding-bottom: 0.6em;
}

}


@media screen and (max-width: 470px) {

#pac-input {
   width: 76%;
}

.weather {
   width: 10%;
}

.col-md-10 {
    display: block;
    margin: auto;
    width: 80%;

}

}




